In [9]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
csv_input = 'movie_metadata.csv'

In [4]:
data=pd.read_csv(csv_input)[['movie_title','director_name','imdb_score']]

In [5]:
data.head()

,movie_title,director_name,imdb_score
0,Avatar,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1
2,Spectre,Sam Mendes,6.8
3,The Dark Knight Rises,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1

In [6]:
data.index

RangeIndex(start=0, stop=5043, step=1)

In [7]:
data.columns

Index(['movie_title', 'director_name', 'imdb_score'], dtype='object')

In [10]:
data.columns = Series(['m_v','d_n','i_s'])

In [12]:
data.head()

                                                 m_v                d_n  i_s
0                                            Avatar       James Cameron  7.9
1          Pirates of the Caribbean: At World's End      Gore Verbinski  7.1
2                                           Spectre          Sam Mendes  6.8
3                             The Dark Knight Rises   Christopher Nolan  8.5
4  Star Wars: Episode VII - The Force Awakens    ...        Doug Walker  7.1

In [15]:
data.columns =data.columns.map(str.upper)

In [16]:
data.head()

                                                 M_V                D_N  I_S
0                                            Avatar       James Cameron  7.9
1          Pirates of the Caribbean: At World's End      Gore Verbinski  7.1
2                                           Spectre          Sam Mendes  6.8
3                             The Dark Knight Rises   Christopher Nolan  8.5
4  Star Wars: Episode VII - The Force Awakens    ...        Doug Walker  7.1

In [20]:
data=data.rename(columns=str.lower)

In [21]:
data.head()

                                                 m_v                d_n  i_s
0                                            Avatar       James Cameron  7.9
1          Pirates of the Caribbean: At World's End      Gore Verbinski  7.1
2                                           Spectre          Sam Mendes  6.8
3                             The Dark Knight Rises   Christopher Nolan  8.5
4  Star Wars: Episode VII - The Force Awakens    ...        Doug Walker  7.1

In [22]:
data = data.rename(columns={'m_v':'MV','d_n':'DN','i_s':'IS'})

In [24]:
data.head()

                                                  MV                 DN   IS
0                                            Avatar       James Cameron  7.9
1          Pirates of the Caribbean: At World's End      Gore Verbinski  7.1
2                                           Spectre          Sam Mendes  6.8
3                             The Dark Knight Rises   Christopher Nolan  8.5
4  Star Wars: Episode VII - The Force Awakens    ...        Doug Walker  7.1

In [25]:
def test_map(x):
    return x+'_ABC'

In [26]:
data.columns.map(test_map)

Index(['MV_ABC', 'DN_ABC', 'IS_ABC'], dtype='object')

In [27]:
data.head()

                                                  MV                 DN   IS
0                                            Avatar       James Cameron  7.9
1          Pirates of the Caribbean: At World's End      Gore Verbinski  7.1
2                                           Spectre          Sam Mendes  6.8
3                             The Dark Knight Rises   Christopher Nolan  8.5
4  Star Wars: Episode VII - The Force Awakens    ...        Doug Walker  7.1

In [29]:
data.rename(columns=test_map)

,MV_ABC,DN_ABC,IS_ABC
0,Avatar,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1
2,Spectre,Sam Mendes,6.8
3,The Dark Knight Rises,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1
5,John Carter,Andrew Stanton,6.6
6,Spider-Man 3,Sam Raimi,6.2
7,Tangled,Nathan Greno,7.8
8,Avengers: Age of Ultron,Joss Whedon,7.5
9,Harry Potter and the Half-Blood Prince,David Yates,7.5
10,Batman v Superman: Dawn of Justice,Zack Snyder,6.9
11,Superman Returns,Bryan Singer,6.1
12,Quantum of Solace,Marc Forster,6.7
13,Pirates of the Caribbean: Dead Man's Chest,Gore Verbinski,7.3
14,The Lone Ranger,Gore Verbinski,6.5
15,Man of Steel,Zack Snyder,7.2
16,The Chronicles of Narnia: Prince Caspian,Andrew Adamson,6.6
17,The Avengers,Joss Whedon,8.1
18,Pirates of the Caribbean: On Stranger Tides,Rob Marshall,6.7
19,Men in Black 3,Barry Sonnenfeld,6.8
20,The Hobbit: The Battle of the Five Armies,Peter Jackson,7.5
21,The Amazing Spider-Man,Marc Webb,7.0
22,Robin Hood,Ridley Scott,6.7
23,The Hobbit: The Desolation of Smaug,Peter Jackson,7.9
24,The Golden Compass,Chris Weitz,6.1
25,King Kong,Peter Jackson,7.2
26,Titanic,James Cameron,7.7
27,Captain America: Civil War,Anthony Russo,8.2
28,Battleship,Peter Berg,5.9
29,Jurassic World,Colin Trevorrow,7.0
...,...,...,...
5013,Manito,Eric Eason,7.0
5014,Rampage,Uwe Boll,6.3
5015,Slacker,Richard Linklater,7.1
5016,Dutch Kills,Joseph Mazzella,4.8
5017,Dry Spell,Travis Legge,3.3
5018,Flywheel,Alex Kendrick,6.9
5019,Exeter,Marcus Nispel,4.6
5020,The Ridges,Brandon Landers,3.0
5021,The Puffy Chair,Jay Duplass,6.6
5022,Stories of Our Lives,Jim Chuchu,7.4
5023,Breaking Upwards,Daryl Wein,6.2
5024,All Superheroes Must Die,Jason Trost,4.0
5025,Pink Flamingos,John Waters,6.1
5026,Clean,Olivier Assayas,6.9
5027,The Circle,Jafar Panahi,7.5
5028,Tin Can Man,Ivan Kavanagh,6.7
5029,The Cure,Kiyoshi Kurosawa,7.4
5030,On the Downlow,Tadeo Garcia,6.1
5031,Sanctuary; Quite a Conundrum,Thomas L. Phillips,5.4
5032,Bang,Ash Baron-Cohen,6.4
5033,Primer,Shane Carruth,7.0
5034,Cavite,Neill Dela Llana,6.3
5035,El Mariachi,Robert Rodriguez,6.9
5036,The Mongol King,Anthony Vallone,7.8
5037,Newlyweds,Edward Burns,6.4
5038,Signed Sealed Delivered,Scott Smith,7.7
5039,The Following,NaN,7.5
5040,A Plague So Pleasant,Benjamin Roberds,6.3
5041,Shanghai Calling,Daniel Hsia,6.3
5042,My Date with Drew,Jon Gunn,6.6